# Игнорировать виртуальные окружения
venv/
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы и папки, которые не нужны в образе
.git/
.gitignore
.env
*.log

# Игнорировать кэш-сборки Poetry
poetry.lock

# Исключить IDE/редактор конфигурации и временные файлы
.idea/
.vscode/
*.swp

# Игнорировать файлы Docker-сборки
Dockerfile
docker-compose.yml