# Python
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Конфигурационные файлы среды разработки
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Логи и временные файлы
*.log
*.pot
*.py[co]

# Логи pytest
.pytest_cache/

# База данных SQLite
*.sqlite3

# Файлы окружения
.env
.env.*

# Файлы виртуальных окружений pipenv, poetry
Pipfile.lock
poetry.lock

# Миграции базы данных (если используются)
migrations/
*.db

# Jupyter Notebook
.ipynb_checkpoints/

# Сборщики (если используются)
build/
dist/
*.egg-info/

# Документация, если используется Sphinx или аналогичное
docs/_build/

# Файлы Docker
docker-compose.override.yml

# MacOS
.DS_Store